<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="Chibuokem's Portfolio">
    <meta name="application-name" content="Chibuokem Onyekwelu">
    <meta name="author" content="Chibuokem Onyekwelu">
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <meta name="msapplication-TileColor" content="#aaa">
    <meta property="og:title" content="Chibuokem Onyekwelu">
    <meta property="og:local" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://chibuokem.herokuapp.com/images/preview.png">
    <meta property="og:site_name" content="Chibuokem Onyekwelu">
    <meta property="og:url" content="https://chibuokem.herokuapp.com">
    <meta property="og:description" content="Chibuokem's Personal Portfolio">
    <title><%= title %></title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="/icon/mdi/css/materialdesignicons.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="canonical" href="/https://chibuokem.herokuapp.com/">
</head>
<body>
    <div class="modal transparent" id="thanks">
        <div class="modal-content">
            <div class="row valign-wrapper">
                <div class="valign">
                    <div class="col s10">
                        <h1>Thanks for reaching out</h1>
                        <h4>I'll reply you shortly</h4><br><br>
                        <button class="btn red z-depth-0 modal-action modal-close waves-effect waves-light center">&lsaquo; BACK</button>
                    </div>
                    <div class="col s2 center">
                        <ul class="social-menu" id="social-menu">
                            <li><a href="https://github.com/davidteejay" target="_blank" data-delay="50" data-tooltip="GitHub" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-github-circle"></i></a></li>
                            <li><a href="https://linkedin.com/in/chibuokem-onyekwelu" target="_blank" data-delay="50" data-tooltip="LinkedIn" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-linkedin"></i></a></li>
                            <li><a href="https://facebook.com/chibuokem.onyekwelu" target="_blank" data-delay="50" data-tooltip="Facebook" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-facebook"></i></a></li>
                            <li><a href="https://instagram.com/i_am_tushh" target="_blank" data-delay="50" data-tooltip="Instagram" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-instagram"></i></a></li>
                            <li><a href="https://twitter.com/DavidTeejayC" target="_blank" data-delay="50" data-tooltip="Twitter" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/112517983973843716765" target="_blank" data-delay="50" data-tooltip="Google+" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#wrapper1" class="to-top"><i class="mdi mdi-chevron-double-up"></i></a>
    <div class="wrapper1 parallax-container" id="wrapper1">
        <div class="row">
            <div class="col l6 valign-wrapper center">
                <div class="content valign center">
                    <div class="img">
                        <img src="/images/logos/logo.jpg" alt="" class="circle">
                    </div>
                    <h1 class="light"><%= title %></h1>
                    <div class="social">
                        <a href="https://github.com/davidteejay" target="_blank" data-delay="50" data-tooltip="GitHub" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-github-circle"></i></a>
                        <a href="https://linkedin.com/in/chibuokem-onyekwelu" target="_blank" data-delay="50" data-tooltip="LinkedIn" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-linkedin"></i></a>
                        <a href="https://facebook.com/chibuokem.onyekwelu" target="_blank" data-delay="50" data-tooltip="Facebook" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-facebook"></i></a>
                        <a href="https://instagram.com/i_am_tushh" target="_blank" data-delay="50" data-tooltip="Instagram" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-instagram"></i></a>
                        <a href="https://twitter.com/DavidTeejayC" target="_blank" data-delay="50" data-tooltip="Twitter" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-twitter"></i></a>
                        <a href="https://plus.google.com/112517983973843716765" target="_blank" data-delay="50" data-tooltip="Google+" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-google-plus"></i></a>
                    </div>
                    <h3>Website and Mobile App Developer</h3>
                    <a href="#wrapper2" class="to-about next bubble btn-floating z-depth-0 transparent center"><i class="mdi mdi-chevron-double-down"></i></a>
                </div>
            </div>
            <div class="col l6 hide-on-med-and-down"></div>
        </div>
        <div class="parallax-img parallax"><img src="/images/image2.jpg" alt=""></div>
    </div>
    <div class="wrapper2" id="wrapper2">
        <div class="wrapper">
            <div class="things-do row">
                <div class="col m4 s12 center slideanim">
                    <img src="/images/logos/webdesign.png" alt="">
                    <h5 class="light">WEB DESIGN</h5>
                    <p class="light">I build secure websites with beautiful interfaces, good user experience, and functional backend</p>
                </div>
                <div class="col m4 s12 center slideanim">
                    <img src="/images/logos/appdesign.png" alt="">
                    <h5 class="light">APP DESIGN</h5>
                    <p class="light">I build secure and scalable mobile applications across all platforms.</p>
                </div>
                <div class="col m4 s12 center slideanim">
                    <img src="/images/logos/graphicdesign.png" alt="">
                    <h5 class="light">GRAPHICS DESIGN</h5>
                    <p class="light">I create awesome designs for logos, banners and flyers for advertising events, organizations amongst others.</p>
                </div>
            </div>
            <div class="tools">
                <div class="row">
                    <div class="col s3 valign-wrapper center slideanim2">
                        <img src="/images/logos/mongodb_logo.png" alt="" class="responsive-img valign">
                    </div>
                    <div class="col s3 valign-wrapper center slideanim2">
                        <img src="/images/logos/express_logo.png" alt="" class="responsive-img valign">
                    </div>
                    <div class="col s3 valign-wrapper center slideanim2">
                        <img src="/images/logos/ReactJS_logo.png" alt="" class="responsive-img valign">
                    </div>
                    <div class="col s3 valign-wrapper center slideanim2">
                        <img src="/images/logos/Nodejs_logo.png" alt="" class="responsive-img valign">
                    </div>
                    <div class="col s3 valign-wrapper center slideanim">
                        <img src="/images/logos/sass_logo.png" class="responsive-img valign" alt="">
                    </div>
                    <div class="col s3 valign-wrapper center slideanim">
                        <img src="/images/logos/jQuery_logo.png" class="responsive-img valign" alt="">
                    </div>
                    <div class="col s3 valign-wrapper center slideanim">
                        <img src="/images/logos/materialize_logo.png" alt="" class="responsive-img valign">
                    </div>
                    <div class="col s3 valign-wrapper center slideanim">
                        <img src="/images/logos/cordova_logo.png" class="responsive-img valign" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="skills parallax-container row" id="skills">
            <div class="col l6 valign-wrapper">
                <div class="skills-content valign light">
                    <h5 class="light">HERE ARE A FEW OF MY SKILLS:</h5>
                    <div class="progress white">
                        <div class="determinate black html"></div>
                    </div>
                    <i class="mdi mdi-language-html5"></i>&nbsp;&nbsp;HTML5
                    <div class="right"><span class="timer">90</span>%</div>
                    <div class="progress white">
                        <div class="determinate black css"></div>
                    </div>
                    <i class="mdi mdi-language-css3"></i>&nbsp;&nbsp;CSS3 | SASS
                    <div class="right"><span class="timer">85</span>%</div>
                    <div class="progress white">
                        <div class="determinate black js"></div>
                    </div>
                    <i class="mdi mdi-language-javascript"></i>&nbsp;&nbsp;JAVASCRIPT
                    <div class="right"><span class="timer">70</span>%</div>
                    <div class="progress white">
                        <div class="determinate black php"></div>
                    </div>
                    <i class="mdi mdi-language-php"></i>&nbsp;&nbsp;PHP | MYSQL
                    <div class="right"><span class="timer">65</span>%</div>
                    <div class="progress white">
                        <div class="determinate black python"></div>
                    </div>
                    <i class="mdi mdi-language-python"></i>&nbsp;&nbsp;PYTHON
                    <div class="right"><span class="timer">35</span>%</div>
                </div>
            </div>
            <div class="col l6 hide-on-med-and-down">
            </div>
            <div class="parallax"><img src="/images/image3.png" class="blur-parallax" alt=""></div>
        </div>
        <div class="testimonials">
            <h4 class="light center">HERE'S WHAT PEOPLE ARE SAYING ABOUT ME:</h4>
            <div class="slider">
                <ul class="slides">
					<li style="background-image: url(/images/logos/logo.jpg)">
						<div class="valign-wrapper">
							<div class="valign caption left-align">
								<p class="light white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quia possimus blanditiis, odio facilis obcaecati, in molestiae! Ab, consequatur, doloribus.</p>
								<br>
								<p class="referrer">Lorem ipsum.</p>
								<p class="ref-title light">CEO, Lorem ipsum dolor.</p>
							</div>
						</div>
                    </li>
					<li style="background-image: url(/images/logos/logo.jpg)">
						<div class="valign-wrapper">
							<div class="valign caption left-align">
								<h5 class="light white-text"></h5>
							</div>
						</div>
                    </li>
                    <li style="background-image: url(/images/logos/logo.jpg)">
						<div class="valign-wrapper">
							<div class="valign caption left-align">
								<h5 class="light white-text"></h5>
							</div>
						</div>
                    </li>
                    <li style="background-image: url(/images/logos/logo.jpg)">
						<div class="valign-wrapper">
							<div class="valign caption left-align">
								<h5 class="light white-text"></h5>
							</div>
						</div>
                    </li>
                    <li style="background-image: url(/images/logos/logo.jpg)">
						<div class="valign-wrapper">
							<div class="valign caption left-align">
								<h5 class="light white-text"></h5>
							</div>
						</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper3" id="wrapper3">
		<h4 class="slideanim center light">HERE ARE A FEW OF THE PROJECTS I'VE WORKED ON:</h4>
		<div class="row">
			<img src="/images/softimony.jpg" class="materialboxed slideanim z-depth-0" alt="">
			<img src="/images/alawhyte.jpg" class="materialboxed slideanim z-depth-0" alt="">
			<img src="/images/bsb.jpg" class="materialboxed slideanim z-depth-0" alt="">
		</div>
    </div>
    <div class="wrapper4 parallax-container" id="wrapper4">
        <div class="row">
            <h3 class="light center slideanim">GET IN TOUCH</h3>
            <div class="col s10">
                <p class="slideanim3 light">I'd love to hear from you. Fill the form below if you want to discuss about a project, or if you have anything at all to discuss with me</p>
                <form class="row" action="https://formspree.io/chibuokem_tolu@hotmail.com" method="post">
                    <div class="input-field col s12 slideanim3">
                        <label for="fname">Name</label>
                        <input type="text" id="fname" name="fname" required>
                    </div>
                    <div class="input-field col m6 s12 slideanim3">
                        <label for="topic">Topic</label>
                        <input type="text" id="topic" name="_subject" required>
                    </div>
                    <div class="input-field col m6 s12 slideanim3">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="input-field col s12 slideanim3">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" class="materialize-textarea" required></textarea>
                        <input type="text" name="_gotcha" style="display:none" />
                        <input type="hidden" name="_next" value="http://chibuokem.herokuapp.com/#thanks" />
                    </div>
                    <div class="input-field col s12 center slideanim3">
                        <button type="submit" class="btn teal darken-2 z-depth-0 waves-effect waves-light">SEND</button>
                    </div>
                </form>
            </div>
            <div class="col s2 center">
                <ul class="social-menu" id="social-menu2">
                    <li><a href="https://github.com/davidteejay" target="_blank" data-delay="50" data-tooltip="GitHub" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-github-circle"></i></a></li>
                    <li><a href="https://linkedin.com/in/chibuokem-onyekwelu" target="_blank" data-delay="50" data-tooltip="LinkedIn" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-linkedin"></i></a></li>
                    <li><a href="https://facebook.com/chibuokem.onyekwelu" target="_blank" data-delay="50" data-tooltip="Facebook" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-facebook"></i></a></li>
                    <li><a href="https://instagram.com/i_am_tushh" target="_blank" data-delay="50" data-tooltip="Instagram" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-instagram"></i></a></li>
                    <li><a href="https://twitter.com/DavidTeejayC" target="_blank" data-delay="50" data-tooltip="Twitter" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/112517983973843716765" target="_blank" data-delay="50" data-tooltip="Google+" data-position="left" class="btn-floating tooltipped z-depth-0 transparent center"><i class="mdi mdi-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="parallax"><img src="/images/image2.jpg" class="sepia" alt=""></div>
    </div>
    <div class="footer row">
        <div class="col m4 s12">
            <!--<div id="social-float-bar" class="clr">
                <span class="txt">Share: </span>
                <a href="#" data-tooltip="Share on Twitter" data-position="right" data-url="http://twitter.com/share?text=Have%20a%20look%20at%20Chibuokem%20Onyekwelu's%20Website;url=http%3A%2F%2Fwww.chibuokem.herokuapp.com" class="twitter tooltipped"><i class="mdi mdi-twitter"></i></a>
                <a href="#" data-tooltip="Share on Facebook" data-position="right" data-url="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.chibuokem.herokuapp.com" class="facebook tooltipped"><span class="mdi mdi-facebook"></span></a>
                <a href="#" data-tooltip="Share on Google Plus" data-position="right" data-url="https://plusone.google.com/_/+1/confirm?url=http%3A%2F%2Fwww.chibuokem.herokuapp.com" class="google tooltipped"><span class="mdi mdi-google-plus"></span></a>
                <a href="#" data-tooltip="Share on LinkedIn" data-position="right" data-url="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwww.chibuokem.herokuapp.com&amp;title=Take a look at Chibuokem Onyekwelu's Website&amp;" class="linkedin tooltipped"><span class="mdi mdi-linkedin"></span></a>
            </div>-->
        </div>
        <div class="col m8 s12 right-align">
            <p class="right-align light">&copy; Chibuokem Onyekwelu. All rights reserved</p>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.inview.min.js"></script>    
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a0b66c1b27ef2cd"></script> 
</body>
</html>