<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="/icon/mdi/css/materialdesignicons.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="wrapper1 parallax-container" id="wrapper1">
        <div class="row">
            <div class="col l6 valign-wrapper center">
                <div class="content valign center">
                    <div class="img">
                        <img src="/images/logos/logo.jpg" alt="" class="circle">
                    </div>
                    <h1><%= title %></h1>
                    <div class="social">
                        <a href="#!" class="btn-floating z-depth-0 transparent center"><i class="mdi mdi-github-circle"></i></a>
                        <a href="#!" class="btn-floating z-depth-0 transparent center"><i class="mdi mdi-linkedin"></i></a>
                        <a href="#!" class="btn-floating z-depth-0 transparent center"><i class="mdi mdi-facebook"></i></a>
                        <a href="#!" class="btn-floating z-depth-0 transparent center"><i class="mdi mdi-instagram"></i></a>
                        <a href="#!" class="btn-floating z-depth-0 transparent center"><i class="mdi mdi-twitter"></i></a>
                        <a href="#!" class="btn-floating z-depth-0 transparent center"><i class="mdi mdi-google-plus"></i></a>
                    </div>
                    <h3 class="light truncate">Website and Mobile App Developer</h3>
                    <a href="#wrapper2" class="to-about next bubble btn-floating z-depth-0 transparent center"><i class="mdi mdi-chevron-double-down"></i></a>
                </div>
            </div>
            <div class="col l6 hide-on-med-and-down"></div>
        </div>
        <div class="parallax"><img src="/images/image2.png" alt=""></div>
    </div>
    <div class="wrapper2" id="wrapper2">
        <div class="wrapper">
            <h4 class="center">I'M <span class="text-toggle">CHIBUOKEM...</span></h4>
            <div class="things-do row">
                <div class="col m4 s6 center">
                    <img src="/images/logos/webdesign.png" alt="">
                    <h5 class="light">WEB DESIGN</h5>
                    <p class="light">I build secure websites with beautiful interfaces, good user experience, and functional backend</p>
                </div>
                <div class="col m4 s6 center">
                    <img src="/images/logos/appdesign.png" alt="">
                    <h5 class="light">APP DESIGN</h5>
                    <p class="light">I build secure mobile apps accross all platforms.</p>
                </div>
                <div class="col m4 s6 offset-s3 center">
                    <img src="/images/logos/graphicdesign.png" alt="">
                    <h5 class="light">GRAPHICS DESIGN</h5>
                    <p class="light">I create awesome designs for logos, banners, flyers</p>
                </div>
            </div>
            <div class="tools">
                <div class="row">
                    <div class="col s3 valign-wrapper center">
                        <img src="/images/logos/mongodb_logo.png" alt="" class="responsive-img valign">
                    </div>
                    <div class="col s3 valign-wrapper center">
                        <img src="/images/logos/express_logo.png" alt="" class="responsive-img valign">
                    </div>
                    <div class="col s3 valign-wrapper center">
                        <img src="/images/logos/AngularJS_logo.png" alt="" class="responsive-img valign">
                    </div>
                    <div class="col s3 valign-wrapper center">
                        <img src="/images/logos/Nodejs_logo.png" alt="" class="responsive-img valign">
                    </div>
                    <div class="col s3 valign-wrapper center">
                        <img src="/images/logos/sass_logo.png" class="responsive-img valign" alt="">
                    </div>
                    <div class="col s3 valign-wrapper center">
                        <img src="/images/logos/jQuery_logo.png" class="responsive-img valign" alt="">
                    </div>
                    <div class="col s3 valign-wrapper center">
                        <img src="/images/logos/materialize_logo.png" alt="" class="responsive-img valign">
                    </div>
                    <div class="col s3 valign-wrapper center">
                        <img src="/images/logos/cordova_logo.png" class="responsive-img valign" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="skills parallax-container row">
            <div class="col l6 valign-wrapper">
                <div class="skills-content valign light">
                    <h5 class="light">HERE ARE A FEW OF MY SKILLS:</h5>
                    <div class="progress grey lighten-2">
                        <div class="determinate black html"></div>
                    </div>
                    <i class="mdi mdi-language-html5"></i>&nbsp;&nbsp;HTML5
                    <div class="progress grey lighten-2">
                        <div class="determinate black css"></div>
                    </div>
                    <i class="mdi mdi-language-css3"></i>&nbsp;&nbsp;CSS3 | SASS
                    <div class="progress grey lighten-2">
                        <div class="determinate black js"></div>
                    </div>
                    <i class="mdi mdi-language-javascript"></i>&nbsp;&nbsp;JAVASCRIPT
                    <div class="progress grey lighten-2">
                        <div class="determinate black python"></div>
                    </div>
                    <i class="mdi mdi-language-python"></i>&nbsp;&nbsp;PYTHON
                    <div class="progress grey lighten-2">
                        <div class="determinate black php"></div>
                    </div>
                    <i class="mdi mdi-language-php"></i>&nbsp;&nbsp;PHP | MYSQL
                </div>
            </div>
            <div class="col l6 hide-on-med-and-down">
            </div>
            <div class="parallax"><img src="/images/image3.jpg" alt=""></div>
        </div>
        <div class="testimonials">
            <h5 class="light">HERE'S WHAT PEOPLE ARE SAYING ABOUT ME:</h5>
            <div class="slider">
                <ul class="slides">
                    <li class="valign-wrapper">
                        <div class="valign caption left-align">
                            <img src="/images/logos/logo.jpg" alt="" class="circle">
                            <p class="light white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quia possimus blanditiis, odio facilis obcaecati, in molestiae! Ab, consequatur, doloribus.</p>
                            <br>
                            <p class="referrer">Lorem ipsum.</p>
                            <p class="ref-title light"><i>CEO, Lorem ipsum dolor.</i></p>
                        </div>
                    </li>
                    <li class="valign-wrapper">
                        <div class="valign caption left-align">
                            <h5 class="light white-text"></h5>
                        </div>
                    </li>
                    <li class="valign-wrapper">
                        <div class="valign caption left-align">
                            <h5 class="light white-text"></h5>
                        </div>
                    </li>
                    <li class="valign-wrapper">
                        <div class="valign caption left-align">
                            <h5 class="light white-text"></h5>
                        </div>
                    </li>
                    <li class="valign-wrapper">
                        <div class="valign caption left-align">
                            <h5 class="light white-text"></h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper3" id="wrapper3">
        
    </div>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</body>
</html>