@font-face {
    font-family: "Mosk";
    src: local(Mosk Extra-Light), url("../fonts/Mosk-Typeface/Mosk Extra-Light 200.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Mosk";
    src: local(Mosk Light), url("../fonts/Mosk-Typeface/Mosk Light 300.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Mosk";
    src: local(Mosk Normal), url("../fonts/Mosk-Typeface/Mosk Normal 400.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Mosk";
    src: local(Mosk Medium), url("../fonts/Mosk-Typeface/Mosk Medium 500.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Mosk";
    src: local(Mosk Bold), url("../fonts/Mosk-Typeface/Mosk Bold 700.ttf");
    font-weight: 700
}

body, html {
    width: 100%;
    height: 100%;
    min-height: 600px;
    font: {
        family: "Mosk", "Roboto", sans-serif;
        size: 17px;
    }
    
    &::-webkit-scrollbar {
        width: 13px;
        border-radius: 15px;
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 15px;
        background-color: #ddd;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background-color: #666;
        border: 3px solid #fff;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto";
}

@keyframes opacity-up-down {
    0% {
        opacity: 1;
    } 50% {
        opacity: .05;
    } 100% {
        opacity: 1;
    } 
}

@keyframes to-top-slide-up {
    from {
        height: 0px;
    } to {
        height: 50px;
    }
}

@keyframes to-top-slide-down {
    from {
        height: 50px;
    } to {
        height: 0px;
    }
}

.to-top {
    height: 0px;
    width: 50px;
    background-color: rgba(#000, .4);
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 110;

    .mdi::before {
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        color: #fff !important;
    }
}

.to-top.slideup {
    animation: to-top-slide-up .5s;
    animation-fill-mode: forwards;
}

.to-top.slidedown {
    animation: to-top-slide-down .5s;
    animation-fill-mode: forwards;
}

.wrapper1 {
    height: 100%;
    width: 100%;
    
    .parallax-img {
        background: {
            image: url(/images/image2.jpg);
            repeat: no-repeat;
            size: cover;
            position: center right;
        }
        height: 100%;
        width: 100%;
        position: relative;
        z-index: -1;
        top: 0;
    }
    
    .row {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        padding: 10px;
        
        .hide-on-med-and-down {
            width: 50%;
            
            @media screen and (max-width: 992px){
                width: 0;
            }
        }
        
        .valign-wrapper {
            background-color: rgba(#000, .4);
            height: inherit;
            width: 50%;
            padding: 20px;
            
            @media screen and (max-width: 992px){
                width: 100%;
            }
            
            .valign {
                width: 100%;
                height: auto;
                
                .img {
                    height: 220px;
                    width: 210px;
                    padding: 10px;
                    border-radius: 100%;
                    margin: auto;
                    margin-bottom: 20px;
                    background-color: rgba(#fff, .3);
                    
                    @media screen and (max-width: 1120px){
                        height: 170px;
                        width: 165px;
                    }
                    
                    img {
                        height: 200px;
                        width: 190px;

                        @media screen and (max-width: 1120px){
                            height: 150px;
                            width: 145px;
                        }
                    }
                }
                
                h1 {
                    font: {
                        size: 48px;
                        weight: lighter;
                    }
                    margin: 0;
                    color: #fff;
                    
                    @media screen and (max-width: 1120px){
                        font-size: 30px;
                    }
                }
                
                .social {
                    margin: {
                        top: 20px;
                        bottom: 20px;
                    }
                    width: 100%;
                    
                    a {
                        border: 1px solid #fff;
                        height: 65px;
                        width: 65px;
                        line-height: 65px;
                        margin: 10px;
                        opacity: .4;
                        transition: opacity .7s;
                        
                        &:hover {
                            opacity: 1;
                        }
                        
                        @media screen and (max-width: 1120px){
                            line-height: 40px;
                            height: 40px;
                            width: 40px;
                        }

                        @media screen and (max-width: 600px){
                            margin: 0px !important;
                        }
                        
                        @media screen and (max-height: 700px){
                            line-height: 40px;
                            height: 40px;
                            width: 40px;
                            margin: 5px;
                        }
                        
                        .mdi::before {
                            line-height: 65px;
                            font-size: 28px;
                            
                            @media screen and (max-width: 1120px){
                                line-height: 40px;
                                font-size: 22px;
                            }
                            
                            @media screen and (max-height: 700px){
                                line-height: 40px;
                                font-size: 22px;
                            }
                        }
                    }
                }
                
                h3 {
                    font: {
                        weight: lighter;
                        size: 24px;
                        family: "Mosk" !important;
                    }
                    margin: 0;
                    color: #fff;
                    
                    @media screen and (max-width: 1120px){
                        font-size: 18px;
                    }
                }
                
                a[href="#wrapper2"]{
                    border: 1px solid #fff;
                    height: 65px;
                    width: 65px;
                    line-height: 65px;
                    margin: {
                        left: 10px;
                        right: 10px;
                        top: 50px;
                    }
                    opacity: 1;
                    animation: {
                        name: opacity-up-down;
                        iteration-count: infinite;
                        duration: 2s;
                    }
                    
                    @media screen and (max-width: 1120px){
                        margin-top: 30px;
                        height: 45px;
                        width: 45px;
                        line-height: 45px;
                    }
                    
                    @media screen and (max-height: 700px){
                        margin-top: 30px;
                        height: 45px;
                        width: 45px;
                        line-height: 45px;
                    }

                    .mdi::before {
                        line-height: 65px;
                        font-size: 28px;
                        
                        @media screen and (max-width: 1120px){
                            line-height: 45px;
                            font-size: 22px;
                        }
                        
                        @media screen and (max-height: 700px){
                            line-height: 45px;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}

.wrapper2 {
    height: auto;
    width: 100%;
    
    .wrapper {
        width: 100%;
        height: auto;
        padding-top: 40px;
        
        h4 {
            margin: 0 ;
            margin-bottom: 40px;
            font-style: bolder;
            
            .typewriter-wrapper {
                border-bottom: .5px solid olivedrab;
                padding-bottom: 0 !important;
                font-family: "Mosk";
            }
        }
        
        .things-do {
            height: auto;
            width: 100%;
            margin-bottom: 0;
            padding: 35px;
            
            .col {
                padding: 10px;
                
                img {
                    height: 150px;
                    
                    @media screen and (max-width: 600px){
                        height: 100px;
                    }
                }
            }
        }
        
        .tools {
            width: 100%;
            background-color: #f0f0f0;
            
            .row {
                padding: {
                    left: 65px;
                    right: 65px;
                }
                margin-bottom: 0px;

                .col {
                    height: 250px;
                    padding: 30px;
                    

                    @media screen and (max-width: 992px){
                        height: 200px;
                    }

                    @media screen and (max-width: 600px){
                        height: 150px;
                        padding: 5px;
                    }

                    .valign {
                        width: 100%;
                    }
                }
            }
        }
    }
    
    .skills {
        width: 100%;
        height: auto;
        padding: 10px;
        
        .hide-on-med-and-down {
            width: 50%;
            
            @media screen and (max-width: 992px){
                width: 0;
            }
        }
        
        .valign-wrapper {
            background-color: rgba(#FFF, .6);
            height: inherit;
            width: 50%;
            padding: 40px;
            padding: {
                top: 25px !important;
                bottom: 25px !important;
            }
            
            @media screen and (max-width: 992px){
                width: 100%;
            }
            
            .valign {
                width: 100%;
                height: auto;
                font-size: 20px;
                
                h5 {
                    margin-bottom: 30px;
                }
                
                .progress {
                    margin: {
                        top: 20px;
                        bottom: 20px;
                    }
                    
                    .determinate {
                        width: 0%;
                    }
                    
                    .flow-html {
                        animation: flow-html 2s;
                        animation-fill-mode: forwards;
                    }
                    
                    .flow-css {
                        animation: flow-css 2s;
                        animation-fill-mode: forwards;
                    }
                    
                    .flow-js {
                        animation: flow-js 2s;
                        animation-fill-mode: forwards;
                    }
                    
                    .flow-python {
                        animation: flow-python 2s;
                        animation-fill-mode: forwards;
                    }
                    
                    .flow-php {
                        animation: flow-php 2s;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }
    
    .testimonials {
        width: 100%;
        height: auto;
        padding: 30px;
        
        .slider {
            width: 50%;
            margin: auto;
            
            @media screen and (max-width: 992px){
                width: 75%;
            }
            
            @media screen and (max-width: 600px){
                width: 90%;
            }
            
            .indicators {
                text-align: right;
                margin: {
                    bottom: 10px;
                    right: 10px;
                }
                z-index: 100;
                
                .indicator-item {
                    background-color: transparent;
                    border: 1px solid #fff;
                }
                
                .indicator-item.active {
                    background-color: #fff;
                    border: none;
                }
            }
            
            .slides {
                width: 100%;
                height: inherit;
                border-radius: 10px;
                background-color: transparent !important;
                
                .valign-wrapper {
                    height: 100%;
                    width: 100%;
                    background-color: rgba(#000, .7);
                    
                    .valign {
                        height: auto;
                        width: 100%;
                        left: 0 !important;
                        top: auto !important;
                        padding: 60px;

                        @media screen and (max-width: 600px){
                            padding: 20px;
                            padding: {
                                top: 10px;
                                bottom: 10px;
                            }
                        }
                        
                        img {
                            width: 150px;
                            height: 160px;

                            @media screen and (max-width: 600px){
                                width: 100px;
                                height: 100px;
                            }
                        }
                        
                        p {
                            font-size: 18px;
                            text-align: left;
                            margin: 0;

                            @media screen and (max-width: 600px){
                                font-size: 17px;
                            }
                        }
                        
                        .referrer {
                            font: {
                                size: 16px;
                                weight: bolder;
                            }

                            @media screen and (max-width: 600px){
                                font-size: 15px;
                            }
                        }
                        
                        .ref-title {
                            font-size: 14px;

                            @media screen and (max-width: 600px){
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.wrapper3 {
    
}

@keyframes flow-html {
    from {
        width: 0%;
    } to {
        width: 90%;
    }
}

@keyframes flow-css {
    from {
        width: 0%;
    } to {
        width: 85%;
    }
}

@keyframes flow-js {
    from {
        width: 0%;
    } to {
        width: 70%;
    }
}

@keyframes flow-python {
    from {
        width: 0%;
    } to {
        width: 35%;
    }
}

@keyframes flow-php {
    from {
        width: 0%;
    } to {
        width: 65%;
    }
}
